body {
    font-family: arial;
    font-size: 12pt;
    background-image: url("img/blueimg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}


main {
  margin: 0 auto;
  width: 50%;
}

section {
border: 2px solid black;

}

button {
  margin: 0 auto;
  height: 30px;
  width: 80px;
  background-color: aliceblue;
  border: 2px solid black;
}

h1 {
  font-family: arial;
  font-weight: normal;
  font-size: 24pt;
  color: #666;
}

h2 {
  font-family: arial;
  font-weight: normal;
  font-size: 35px;
  color: #069;
  margin-bottom: 0;
}

h1 {
    margin: 0;
    border-bottom: 1px dotted grey;
    color: black;
}

h2 {
    margin: 0;
}

h2 ~ p {    /* only applies to p-elements on the main page */
    margin: 0;
    position: relative;
    top: -40px;     /* move person names to line up with the day number */
    left: 50px;     /* make sure the person names don't overlap the day number */
    font-size: 20px;
}

p:last-of-type {    /* the last p-element should act like a normal paragraph since it's not a person name */
    position: static;
}

/*
    Set hyperlink styles.
*/

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a + a {     /* delete links */
    color: red;
    font-size: 80%;
    vertical-align: super;
}

p:last-of-type a {  /* the add link */
    color: blue;
    
    display: block;     /* we can't center the parent element, because no all pages need their last paragraph centered */
    text-align: center;
    margin-bottom: 20px;
}

form {    
    width: 400px;
    height: 100%;
    background-color: aliceblue;
    margin: 125px auto;
    padding:10px;
    border: 2px solid black;
}
input {
  float: right;
}

/*===== create =====*/

#submit{
    height: 30px;
    width: 100px;
    border: 2px solid black;
    margin: 0 auto;

}
.names {
  padding: 0px;
  margin: 10px;
  font-size: 20px;

}

.exo {
  padding-left: 10px;
}

select{
  float: right;
}