/* ===== General CSS ===== */

body
{
	background-image: url("img/etc/Back-TF-EN-VG.png");
	width: 100%;
	background-attachment: fixed;
}

a{
	color: black;
	text-decoration: none;
}

main{
	width: 100%;
	height: 100%;
}

tr {
	background-color: lightgrey;
}

table {
	height: 100%;
	width:1200px;
	text-align: center;
	font-size: 20px;
}

nav{
	display: block;
	position:relative;
	top: -45px;
}

p {
	font-size: 22px;	
}

input{
	height: 30px;
	width: 300px;
}

.inputtext3{
	width: 350px;
	height: 150px;
}
/* ===== on all indexes ====== */

#search, #searchbutton {
	border: solid 2px white;
	background-color: black;
	color: Chocolate;
}

#searchbutton {
	height: 37px;
	width: 80px;	
}

#header {
	height: 400px;
	width: 100%;
}

.navbutton {
  	height: 50px;
	width: 150px;
	color: lightblue;
	background-color: black;
}

#addbutton {
	top: 100px;
	left: 700px;
	height: 40px;
	width: 120px;

}
.bottomnametrap, .topnametrap, .toptrap, .toptexttrap{
	width: 150px;
	height: 30px;
	background-color: purple;
	font-weight: bold;
}

.bottomnamespell, .topnamespell, .topspell, .toptextspell{
	width: 150px;
	height: 30px;
	background-color: seagreen;
	font-weight: bold;
}

.bottomnamemonster, .topnamemonster, .topmonster, .toptextmonster{
	width: 150px;
	height: 30px;
	background-color: Chocolate;
	font-weight: bold;
}


.top {
	background-color: red;
	font-weight: bold;
}

.bottom {
	text-transform: capitalize;
}

.bottomtext, .toptext {
	width: 500px;
}
.toptext {
	background-color: red;
	font-weight: bold;
}
.bottomtext {
	height: 300px;
}

/* ===== createpage ====== */



#submitcreate {
	margin:10px;
	height: 45px;
	width: 150px;
	border: solid black 2px;
	background-color: grey;
	font-size: 20px;
}

#createbutton {
	height: 45px;
	width: 150px;
	border: solid black 2px;
	background-color: grey;
	font-size: 20px;
}

#create {
	background-color: #f2f2f2;
	left: 1000px;
	top: 200px;
	display: inline-block;
	border: solid black 2px;
	padding: 30px;

}


/* ===== read ====== */

#cardreader{
	margin-top: 100px;
	background-color: #f2f2f2;
	height: 1200px;
	width: 450px;
	position: absolute;
	right: 400px;
}

.readtext{
	padding-left: 12px;
	margin: 10px;
	border: 2px solid black;
	width: 400px;
}

#readimg {
	 position: absolute;
	 left: 250px;
	 margin-top: 100px;

}

#readback{
	height: 45px;
	width: 150px;
	border: solid black 2px;
	background-color: grey;
	margin-top: 20px;
	font-size: 20px;
	margin-left: 10px;
}
#links{
	width: 410px;
	margin: 10px;
	border: 2px solid black;
	padding-bottom: 10px;
}

.link{
	border: 2px solid black;
	display: inline;
	font-size: 20px;
	padding: 5px;
	margin-left: 10px;
}

/* ==== how to play Yu-Gi-Oh ==== */

#htpygo {
	background-color: #f2f2f2;
	font-size: 12px;
	width: 1000px;
	height: 100%;
}

.headpiece {
	background-color: red;
	padding-top: 12px;
	height: 60px;
	font-size: 40px;
}


